<div class="col-sm-4">
  <a
    [routerLink]="[contact.id]"
    routerLinkActive="active"
    class="list-group-item clearfix movieDiv"
    (click)="onSelected()"
  >
    <div class="pull-left">
      <img
        [src]="
          sanitizer.bypassSecurityTrustResourceUrl(
            'http://image.tmdb.org/t/p/w500' + contact.poster_path
          )
        "
        alt="{{ contact.title }}"
        class="img-fluid d-block mx-auto"
        style="max-width: 100%"
      />
    </div>
    <span class="pull-right"> </span>
  </a>
</div>
