<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Movies</a>
    </div>
    <div class="collaspse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/movies">My Movies</a>
        </li>
        <!-- <li routerLinkActive="active">
          <a routerLink="/messages">Messages</a>
        </li> -->
        <li routerLinkActive="active">
          <a routerLink="/trendingMovies">Trending Now</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button"
            >User <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a>Login</a></li>
            <li><a>Other</a></li>
            <hr />
            <li><a>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
